@model RiffGeneratorWeb.ViewModels.RGViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        <h1>The Riff Generator</h1>
        <hr />
        <p>Do you need inspiration? Out of creativity? Give the Riff Generator a try! Fill out the form below and we'll generate a riff for you based on the information you have provided. It will then prompt you to download the generated MIDI file which you can import into Guitar Pro or your DAW of choice!</p>
        <form asp-controller="Home" asp-action="Generate" method="post">
            <div class="form-row">
                <div class="col-md-12">
                    <h5>Track Information</h5>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="TrackName">Track Name</label>
                    <input asp-for="TrackName" type="text" class="form-control" placeholder="Track Name">
                    <span asp-validation-for="TrackName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Instruments" class="control-label">Instrument</label>
                    <select asp-for="SelectedInstrument" class="form-control" asp-items="Model.Instruments"></select>
                    <span asp-validation-for="SelectedInstrument" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="TimeSignatures">Time Signature</label>
                    <select asp-for="SelectedTimeSignature" class="form-control" asp-items="Model.TimeSignatures"></select>
                    <span asp-validation-for="SelectedTimeSignature" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Tempo">Tempo</label>
                    <input asp-for="Tempo" type="number" class="form-control" placeholder="Tempo" min="60" max="300" value="60">
                    <span asp-validation-for="Tempo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TotalNotes" for="total-notes">Total Notes</label>
                    <input asp-for="TotalNotes" type="number" class="form-control" placeholder="Total Notes" min="1" max="10000" value="200">
                    <span asp-validation-for="TotalNotes" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Octaves">Octaves</label>
                    <select asp-for="SelectedOctaves" class="form-control" asp-items="Model.Octaves" size="13"></select>
                    <span asp-validation-for="SelectedOctaves" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Pitches">Pitches</label>
                    <select asp-for="SelectedPitches" class="form-control" asp-items="Model.Pitches" size="13"></select>
                    <span asp-validation-for="SelectedPitches" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Durations">Durations</label>
                    <select asp-for="SelectedDurations" class="form-control" asp-items="Model.Durations" size="13"></select>
                    <span asp-validation-for="SelectedDurations" class="text-danger"></span>
                </div>
            </div>

            @*<div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>*@
            <button type="submit" class="btn btn-primary">Generate</button>
            <br />
            <small>Note: MIDI playback isn't supported in most phones. You will need a MIDI player app in order to play back what is generated if you are viewing this from your phone.</small>

        </form>

    </div>

</div>

@section Scripts{
    <script>
        $(function () {
            //$("#Instruments").prop("multiple", false);
        })
    </script>
}
